<h1> Hola mundo </h1>

<div ng-repeat="comic in friktonia.comics">
    <p>{{comic.name}}</p>
    <p>{{comic.id}}</p>
    <button ng-click="friktonia.remove(comic.id)">Delete</button>
</div>

<button ng-click="friktonia.refresh()">Refresh</button>

<form ng-submit="friktonia.save(comic)">
    <input type="text" ng-model="comic.name">
    <button>Save</button>
</form>